.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.card-item {
  cursor: pointer;
  background-color: var(--clr-white);
  padding-bottom: 1.5rem;

  transition: 0.25s ease-in-out;

  outline: 0.4rem solid transparent;
}

.card-item .image {
  height: 12.5rem;
  background-color: red;
}

.card-item .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-item .info {
  padding: 1.5rem;
}

.card-item .info h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.card-item .info p {
  font-size: var(--fs-small);
  color: var(--clr-dark-light);
  line-height: 1.5;
}

.card-item .title {
  display: flex;
}

.card-item .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item .info .title .accent {
  color: var(--clr-accent);
}

.card-item .info .title p {
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
}

.card-item:hover {
  outline-color: var(--clr-accent);
  transform: translateY(-3%);
}
